
.content-home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}
.content-joke {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    margin: 30px 20px 0;
    padding: 80px 10px;
    border-radius: 10px;
    height: 15rem;
    text-align: center;
    
}
.header {
    margin-top: 15px;
}

.btn-categories {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border: none;
    outline: none;
    
}

.btn {
    padding: 5px 8px;
    background-color:#FFC078;
    text-decoration: none;
    outline: none;
    color: black;
    border: none;
    border-radius: 5px;
  
}

.container-btn {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}



.btn-content {
    font-weight: bold;
    background-color: #FFC078;
    border: none;
    padding: 1.5rem;
    border-radius: 100%;
}

.img-content {
    position:relative;
    z-index: -1;
    width: 100%;

}
.container-content {
    display: none;
}

.show-content{
    display: block;
}

.content {
    display: none;
}
.random-space {
    display: none;
}


/*----------------- VERSION TABLET ( 768width )*/

@media screen and (min-width:768px) {
    .show-content{
        width: 83%;
    }
    .img-content {
        padding: 0rem 4rem;
    }
    .container-btn {
        margin-left: 29%;
        margin-right: 9%;
        margin-bottom: -1%;
    }
    .btn {
        padding: 0.5rem 1.9rem;
    }
    .socials {
        position: relative;
        margin: 1rem 0rem 4rem 3rem;
    }
    .input-box {
        padding: 1rem 0 4rem 0;
    }
}

/*-------------- LAPTOP (1024 width)--------------*/

@media screen and (min-width:1024px) {
    .nav-bar {
        z-index: 0;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        width:30%;
        height: 100%;
    }
    .ulStyle {
        display: flex;
        align-items: center;
        list-style: none;
        background-color: #FFC078;
        flex-direction: row;
        align-content: center;
        gap: 3rem;
        height: 2.2rem;
    }
    .logo {
        justify-content: normal;
    }
    .logo-name {
        margin-left: 3rem;
    }
    .img-content {
        padding:0 0 0 0;
        position: normal;
        width: 100%;
    }

    .btn {
        z-index: 1;
        cursor: pointer;
        transition-duration: 0.7s;
    }
    .btn:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .btn-content {
        transition-duration:0.6s ;
        z-index: 1;
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 0;
    }
    .btn-content:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }

      .notFavorite {
        cursor: pointer;
        transition: all 0.4s;
      }
      .notFavorite:hover {
        transform: translateY(-0.5rem);
      }

      .notComment {
        cursor:pointer;
        transition: all 0.4s;
      }
      .notComment:hover {
        transform: translateY(-0.5rem);
      }

      .notShare {
        cursor: pointer;
        transition: all 0.4s;
      }
      .notShare:hover {
        transform: translateY(-0.5rem);
      }

      .isFavorite {
        cursor: pointer;
        transition: all 0.4s;
      }
      .isFavorite:hover {
        transform: translateY(-0.5rem);
      }

      .isComment {
        cursor:pointer;
        transition: all 0.4s;
      }
      .isComment:hover {
        transform: translateY(-0.5rem);
      }

      .isShare {
        cursor: pointer;
        transition: all 0.4s;
      }
      .isShare:hover {
        transform: translateY(-0.5rem);
      }

      .btn-weekly {
        cursor: pointer;
        transition: all 0.9s;
      }
      .btn-weekly:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }

      .content-joke p {
        font-size: 2rem;
      }

    .container-btn {
        margin: 0 -10rem 0 -10rem;
    }
    .show-content {
        margin-left: 22rem;
        margin-top: 2rem;
        width: 30%;

    }
    .socials {
        position: relative;
        margin: 2rem 0 0 22rem;

    }
    .header {
        display: none;
    }
    .btn-categories {
        margin: 2rem 0 1rem 0;
    }
    .random-space {
        display:table-caption;
        margin-bottom: 26.5rem;
        margin-top: 17rem;
    }
}

/*------------------ LAPTOP ( 1440px)-------------------*/
@media screen and (min-width:1440px) {
    .show-content {
        margin-left: 33rem;
        margin-top: 2rem;
        width: 30%;
    }
    .socials {
        position: relative;
        margin: 2rem 0 0 33rem;
    }
}
/*------------------ DESKTOP ( 1640px)-------------------*/

@media screen and (min-width:1640px) {
    .socials {
        margin: 2rem 0 2rem 33rem;
    }

    .content-joke {
        height: 15rem;
        margin: 2rem 2rem -0.7rem 30rem;
        width: 40%;
    }
    .show-content {
        margin-left: 33rem;
        width: 35%;
    }
}