

.main-container {
    margin-bottom: 5rem;
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-search {
    justify-content: space-between;
    width: 80%;
    display: flex;
    gap: 1rem;
    padding: 0.3rem 1rem;
    border-radius: 4px;
    background-color: #FFC078;
}

.search-bar {
    border-radius: 3px;
    border: none;
    padding: 0.3rem;
    width: 100%;
    background-color: #ffffff;
}

.btn-explore {
    font-size: 1.1rem;
    color: #4A66F8;
    width: 7rem;
    height: 2rem;
    border: none;
    background-color: rgb(255, 255, 255);
}
.container-memes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;


}

.meme-img{
    width: 100%;
}

.links {
    text-decoration: none;
}

.btn-search {
    border: none;
    background-color: #FFC078;
}